@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --mainbox:#468FEA;
    --miniboxes:#074186;
}
body{
    background-color: aliceblue;
}
.container{
    background-color: var(--mainbox);
    color: #ffff;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    border-radius: 10px;
}
.weather_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    border: none;
    background-color: var(--miniboxes);
    outline:none;
    color: #ffff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    height: 50px;
    font-size: 1rem;
}
input::placeholder{
    color: #ffff;
    font-size: 1rem;
}
.weather_searchform{
    position: relative;
}
.weather_searchform i{
    position: absolute;
    left: 10px;
    top: 19px;
    font-size: 15px;
    color: #ffff;
}
.suggest_box{
    position: absolute;
    width: 100%;
    max-height: 150px;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 3;
    border-radius: 5px;
}
.suggest_box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
.suggest_box ul li{
    color: #333;
    list-style: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    user-select: none;
    padding: 6px 2px;
}
.suggest_box ul li:hover{
    background-color: #e9f3ff;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: #374457;
    border-radius: 8px;
}
.weather_units{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
#weather_unit_farenheit{
    margin-left: 7px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
#check{
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 34px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
}
#check:checked + .slider:before{
    background-color: #2196F3;
  }
  
#check:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
#check:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.weather_units span{
    cursor: pointer;
}
.weather_units span:first-child{
    margin-right: 0.5rem;
}
.weather_body{
    text-align: center;
    margin-top: 3rem;
}
.weather_datetime{
    margin-bottom: 2rem;
    font-size: 1.25rem;
}
.weather_forecast{
    background-color: var(--miniboxes);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}
.weather_icon img{
    width: 100px;
}
.weather_temp{
    font-size: 2.5rem;
}
.weather_minmax{
    display: flex;
    justify-content: center;
}
.weather_minmax p{
    font-size: 14px;
    margin: 0.5rem;
}
.weather_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}
.weather_card{
    display: flex;
    align-items: center;
    background-color: var(--miniboxes);
    padding: 1rem;
    border-radius: 10px;
}
.weather_card i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.weather_card p{
    font-size: 14px;
}
@media(min-width:930px){
    .weather_city{
        font-size: 3rem;
    }
    .weather_temp{
        font-size: 3rem;
    }
    .weather_minmax p{
        font-size: 1.25rem;
    }
}
@media(min-width:500px){
    .weather_minmax p{
        font-size: 1rem;
    }
}
@media(max-width:930px){
    .container{
        width: 90%;
        margin: 2rem auto;
    }
    .weather_header{
        flex-direction: column;
    }
    .weather_units{
        margin-top: 1rem;
    }
    .weather_datetime{
        font-size: 1rem;
    }
}
@media(max-width:400px){
    .weather_info{
        grid-template-columns: none;
    }
    .container{
        margin: 1rem auto;
    }
    input{
        width: 100%;
    }
    .weather_units{
        margin-top: 30px;
        font-size: 1rem;
        margin-left: 200px;
    }
    .weather_body{
        margin-top: 2rem;
    }
    .weather_temp{
        font-size: 1.75rem;
    }
    .switch{
        height: 25px;
        width: 55px;
    }
    .slider{
        border-radius: 25px;

    }
    .slider:before{
        border-radius: 50%;
        bottom: 2.5px;
        height: 20px;
        width: 20px;
    }
    .weather_datetime{
        font-size: 14px;
    }
    footer p{
        font-size: .75rem;
    }
}
footer{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
